/* general */
@import url(https://db.onlinewebfonts.com/c/cd1810fafebbd3df4964112052edf871?family=FinkHeavy);

* {
  box-sizing: border-box;
  font-family: 'FinkHeavy';
  font-size: 18px;
}

:root {
  --primary-blue: #5298F2;
  --light-blue: #72C1F2;
  --ac-green: #268C52;
  --ac-yellow: #F2C572;
  --ac-brown: #A67D4B;
  --ac-tan: #fdf8e3;
  --ac-font: #807256;
  --european-blue: #2596be;
}

body {
  background-color: var(--primary-blue);
}

.App {
  display: grid;
  grid-template-columns: 1fr 4fr;
  text-align: center;
}

/* sidebar */
.sidebar-container {
  display: flex;
  flex-direction: column;
  max-height: 95vh;
}

.game-title {
  font-size: 40px;
  background-color: var(--ac-tan);
  border-radius: 40px;
  padding: 24px;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.3);
}

button {
  background-color: var(--ac-tan);
  line-height: 24px;
  width: 125px;
  background: var(--ac-tan);
  border-radius: 40px;
  padding: 14px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
}

.question-container {
  background-color: var(--ac-tan);
  border-radius: 40px;
  padding: 24px;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.3);
}

.scoreboard-container {
  background-color: var(--ac-tan);
  border-radius: 40px;
  padding: 24px;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.3);
  text-align: left;
  margin-top: 24px;
}

#score,
#best-score {
  text-transform: uppercase;
}


/* gameboard */
.gameboard-container {
  margin-left: 30px;
  position: relative;
  background-image: url('./resources/gameboard-background.jpg');
  height: 90vh;
  max-width: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.3);
}

.villager-display {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 40%;
  left: 20%;
  max-width: 600px;
}

#villager-img {
  height: auto;
  width: 150px;
}

#villager-img-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

#text-bubble {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  width: 125px;
  background: var(--ac-tan);
  border-radius: 40px;
  padding: 24px;
  text-align: center;
  bottom: 50%;
}

#text-bubble::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid var(--ac-tan);
  border-right: 12px solid transparent;
  border-top: 12px solid var(--ac-tan);
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}